@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";// or use your custom layout if you want it global
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    h2{
        font-size: 1.5rem !important;
    }
</style>
<body>
    <div class="flex-grow-1 p-4">
        <h2>Welcome to the Dashboard</h2>
        <p>This is your secure area after PAN verification.</p>
    </div>
</body>
</html>

