@media (min-width: 992px) {

    #main-content {
        margin-left: 220px;
        width: 82% !important;
    }
}

li > a {
    color: white !important;
}

.logout {
    color: #11395C !important;
    font-size: 12px !important;
}

.card-body {
    background-color: #11395C !important;
    border: 1px solid white !important;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    /* padding: 1rem; */
}

    .card-body button {
        background-color: #145a8b;
        border: none;
        color: white;
        padding: 0.30rem 0.4rem;
        margin-bottom: 0.5rem;
        width: 100%;
        text-align: left;
        border-radius: 0.375rem;
        /* font-size: 0.95rem; */
        transition: background-color 0.2s ease, text-decoration 0.2s ease;
    }

        .card-body button:hover {
            background-color: #1c6fa8;
            text-decoration: underline;
        }

.nav-link {
    font-size: 12px !important;
    padding: 0.5em !important;
}

.list-group-item {
    font-size: 11px !important;
}

#linkBtn {
    font-size: 12px !important;
    width: 125px;
}

.offcanvas {
    width: 250px !important;
}

#userDropdown {
    font-size: 12px !important;
}

.nav-link.active {
    font-weight: 600;
    color: #11395C !important;
    background-color: #f0f4f8;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
